  
html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  background: url('freedom.jpg') no-repeat center;
  background-size: cover;
  color: #333;
}
.wrap{
  text-align: center;
}